@import "src/scss/variables";
@import "src/scss/mixins";

.product-page {
  padding-top: 40px;

  &__btn-back {
    border: none;
    padding: 5px 10px 10px 0;
    outline: none;
    text-align: center;
    color: $blue;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;

    @include hover {
      opacity: 0.7;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 30px;
    @include tablet {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__discount {
    position: relative;
    width: 150px;
    height: 50px;
  }

  &__discount-value {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-weight: 600;
    font-size: 22px;
    color: $white;
  }

  &__logo {
    max-width: 160px;
    max-height: 80px;
    @include tablet {
      margin: 0 auto;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 77px;
    @include tablet {
      flex-direction: column;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 37px;
    margin-bottom: 39px;
    @include tablet {
      font-size: 25px;
    }
  }

  &__prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__disclaimer {
    padding: 42px;
    background: rgba(217, 217, 217, 0.22);
    text-align: center;
    color: #a8a8a5;
    font-size: 30px;
    font-weight: 700;
    @include tablet {
      font-size: 23px;
    }
  }

  &__img {
    max-width: 415px;
    max-height: 415px;
    @include tablet {
      max-width: 100%;
    }
  }

  &__text-block {
    max-width: 650px;
  }

  &__rating {
    margin-left: auto;
    @include tablet {
      margin-left: 0;
      margin-right: auto;
    }
  }

  &__prices {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 33px;
  }

  &__old-price {
    position: relative;
    font-weight: 600;
    font-size: 32.4528px;
    color: #94979C;
    margin: 10px 0 10px;

    span {
      position: absolute;
      width: 100%;
      height: 3px;
      background: #ff2f28;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__new-price {
    margin: 10px 0 10px;
    font-weight: 600;
    font-size: 52px;
  }

  &__old-price-text,
  &__new-price-text {
    font-weight: 600;
    font-size: 18.5018px;
    text-transform: uppercase;
    color: #6F7885;
  }
}
