@import "src/scss/variables";
@import "src/scss/mixins";

.products-list {
  width: 100%;
  border-collapse: collapse;

  th {
    padding: 9px 20px;
    background-color: #EDF2F8;

    &:nth-child(1) {
      width: 10%;
    }

    &:nth-child(2) {
      width: 41%;
    }

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      width: 16%;
    }
  }

  tr {
    padding: 17px 20px;
    border-bottom: 2px solid #EDF2F8;
  }

  td {
    padding: 17px 20px;
    font-weight: 500;
  }

  tr td:nth-child(3),
  tr td:nth-child(4),
  tr td:nth-child(5) {
    text-align: center;
  }

  &__attention {
    font-size: 30px;
    font-weight: 600;
  }

  &__views,
  &__start-date,
  &__end-date {
    @include mobile {
      display: none;
    }
  }

}
