// COLORS
$dark: #344050;
$pale-blue: #4d5969;
$white: #ffffff;
$blue: #2a7be4;
$red: #f63a3a;
$gray: #d9d9d9;

/* DEVICE WIDTH */
$mobile-width: 630px;
$tablet-width: 1010px;
$desktop-width: 1920px;

/* FONTS */
$rubik: 'Rubik', 'Arial', sans-serif;
